.container-fluid{
    padding:0%;
}
nav ul{
    list-style: none;
    padding:0%;
}
nav ul li{

    display: inline;
    margin:0px 10px
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background-color: lightgreen;
}

div img{
    width: 100%;
}
.headline{
    background-color: #F6F6F9;
}
.slidefix{
    background-color: #F6F6F9;

}
.slideshow {
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid white;
    padding: 20px;
}

.paraview h1 span{
    color: #0DBA4B;

}
