.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    
}

.menu li a{
    text-decoration: none;
}

.menu li{
    margin:5px;
    border: 1px solid grey;
    padding:5px 10px;
    border-radius: 20px;

}

.menu :hover{
    background-color: aqua;
}